@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,900&display=swap');

* {
    font-family : 'Poppins', sans-serif;
}

:root {
    --color-primary: black;
    --color-white: #ffffff;
    --color-main: rgb(83 137 254);
}

html::-webkit-scrollbar {
  width: 1px;
  background-color: #f9f9fd;
}
html::-moz-scrollbar {
  width: 1px;
  background-color: #f9f9fd;
}
html::-ms-scrollbar {
  width: 1px;
  background-color: #f9f9fd;
}
html::-webkit-scrollbar-thumb {
  background-color: #223c50;
}
html::-moz-scrollbar-thumb {
  background-color: #223c50;
}
html::-ms-scrollbar-thumb {
  background-color: #223c50;
}

html {
  scroll-behavior: smooth;
}


body {
  background-color: #221684;  
}

* {
    box-sizing: border-box;
  }
  

.main, .info {
  background-color: var(--color-white);
  max-width: 1100px;
  margin: 40px auto;
  padding: 90px 50px;
  border-radius: 25px;
}

.info {
  position: relative;
  overflow: hidden;
}

.info__letters {
  position: absolute;
  bottom: 0;
  right: 5%;
  font-size: 125px;
  font-weight: 700;
  color: #80808014;
}

.main__wrapper {
  display: flex;
  align-items: center;
}

.main__img {
  max-width: 350px;
}

.header__navigation {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 10;
}

.header__list {
  display: flex;
  justify-content: flex-end;
}
.header__list li {
  padding-left: 10px;
}

.header__link, .lang__link, .info__link {
  font-size: 14px;
  text-decoration: none;
  color: grey;
  transition: 0.3s;

}
.info__link {
  color: var(--color-primary);
}
.header__link:hover, .lang__link:hover, .info__link:hover {
  color: var(--color-main);
}

.header__burger {
  display: none;
}
.burger__menu {
  display: block;
  position: absolute;
  width: 100%;
  height: 240px;
  top: -240px;
  left: 0;
  background-color: var(--color-white);
  padding: 50px;
  transition: 0.8s;
  z-index: 2000;
}

.burger__link {
  text-decoration: none;
  color: var(--color-primary);
}

.education__courses {
  margin: 0 0 0 40px;
}

.lang {
  margin: 0 0 0 30px;
}

.lang__link_active {
  color:var(--color-main);
  text-decoration: underline;
}


h1 {
  font-size: 50px;
    font-weight: 700;
    line-height: 47px;
}

.main {
  position: relative;
  overflow: hidden;
}

.main__info {
  margin: 0 0 0 30px;
}

.main__text {
  display: flex;
  max-width: 500px;
  padding: 30px 0 0 0;
}

.main__line {
  width: 4px;
  margin: 0 30px 0 0;
  background-color: var(--color-main);
}

.main__descr {
    font-size: 16px;
    font-weight: 300;
}

.main__social {
  margin: 20px 0 0 30px;
}
.main__list {
  display: flex;
  
}
.main__list li {
  padding-right: 5px;
}

.main__letters {
  font-size: 125px;
  font-weight: 700;
  color: #80808014;
  position: absolute;
  top: 37%;
  right: -17%;
  transform: rotate(-0.25turn);
}


.education__info {
  display: flex;
  justify-content: space-between;
}

.info__item {
  display: flex;
  margin: 10px 0 10px 0;

}

.info__year {
  color: var(--color-main);
  font-weight: 600;
  margin: 0 10px 0 0;
}

.info__title, .info__subtitle {
  font-weight: 300;
}

.info__line {
  width: 4px;
  background-color: var(--color-main);
}

.education__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
} 

.contacts {
  margin: 30px 0 0 0;
}

.facts {
  position: relative;
  background-color: var(--color-white);
  max-width: 1100px;
  margin: 40px auto;
  padding: 90px 50px;
  border-radius: 25px;
}

.facts__wrapper {
  display: flex;
  justify-content: space-between;
}

.facts__info {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 50px;
  font-weight: 700;
}
.subtitle {
  font-size: 22px;
  font-weight: 600;
  padding: 10px 0;
}

.facts__text {
  padding: 100px 40px 0 0px;
}

.fatcs__subtitle {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-main);
}

.fatcs__descr {
  max-width: 585px;
  padding: 10px 0 0 0;
  font-size: 16px;
  font-weight: 300;
}

.facts__line {
  margin: 20px 0 0 0;
  max-width: 100px;
  height: 1.5px;
  background-color: var(--color-main);
}

.grid-container {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 400px;
  display: grid;
  grid-auto-columns: 1fr;
  gap: 15px;
  grid-template-areas: 
    'one one one two two six six'
    'one one one three three six six'
    'four four four five five six six'
}
  
.grid-item {
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  padding: 15px;
}
.grid-item:before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  background-color: var(--color-main);
	transition: 0.5s;
}
.grid-item:hover:before {
	width: 100%;
  height: 0;
}

.grid-item__subtitle {
  position: absolute;
  z-index: 500;
  font-size: 14px;
  color: var(--color-white);
  font-weight: 600;
}

.grid-item__subtitle img {
  display: block;
  padding: 5px 0 0 0;

}


.grid-item:nth-child(1) {
  grid-area: one;
  background: url('../img/facts/01.png') center center/cover no-repeat;
}
  
.grid-item:nth-child(2) {
  grid-area: two;
  background: url('../img/facts/02.png') center center/cover no-repeat;

}
  
.grid-item:nth-child(3) {
  grid-area: three;
  background: url('../img/facts/03.jpg') center center/cover no-repeat;
}
  
.grid-item:nth-child(4) {
  grid-area: four;
  background: url('../img/facts/04.png') center center/cover no-repeat;
}
  
.grid-item:nth-child(5) {
  grid-area: five;
  background: url('../img/facts/05.png') center center/cover no-repeat;
}
.grid-item:nth-child(6) {
  grid-area: six;
  background: url('../img/facts/06.jpg') center center/cover no-repeat;

}

.facts__letter {
  position: absolute;
  bottom: 0;
  left: 7%;
  font-size: 125px;
  font-weight: 700;
  color: #80808014;
}
  
.bakground-popup {
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(194 194 194 / 47%);
    z-index: 1000;
}
  .popup {
    display: none;
    position: fixed;
    z-index: 2000;
    top: 30vh;
    left: 50vw;
    transform: translate(-50%, -30%);
    width: 700px;
    height: 336px;
    background: var(--color-white);
  }

.active {
    display: block;
}
.overflow-h{
  overflow: hidden;
}

.popup__container {
    display: flex;
}
.popup__content {
  flex-basis: 50%;
  width: 350px;
  height: 336px;
}
.popup__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popup__text {
  max-width: 350px;
    padding: 30px;
}

.popup__title {
    font-size: 20px;
    font-weight: 600;
    height: 60px;
}

.popup__descr {
    margin: 10px 0 0 0;
    font-size: 16px;
    font-weight: 300;
    height: 170px;
    overflow: scroll;
}

.popup__descr::-webkit-scrollbar {
  width: 0;
}
.popup__descr::-moz-scrollbar {
  width: 0;
}
.popup__descr::-o-scrollbar {
  width: 0;
}
.popup__descr::-ms-scrollbar {
  width: 0;
}

.popup__btn {
    margin: 20px 0 0 0;
    max-width: 75px;
    display: flex;
    justify-content: space-between;
    
}
.popup__prev, .popup__next {
  cursor: pointer;
}


@media (max-width: 1240px) {
  .facts__text {
    padding: 70px 20px 0 0;
  }
  .fatcs__descr {
    max-width: 270px;
  }
}

@media (max-width: 1124px) {
  .facts, .main, .info {
    margin: 40px 30px;
  }
}

@media (max-width: 940px) {
  .grid-container {
    width: 100%;
    grid-template-areas: 
    'one one two two six six'
    'four four four four three three'
    'five five five five five five'
  }
}

@media (max-width: 768px) {

  .header__list {
    display: none;
  }

  .header__burger {
    position: absolute;
    display: block;
    width: 20px;
    transition: 0.5s;
    top: 9%;
    right: 7%;
    z-index: 5000;
  }
  .header__burger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-main);
  }
  .header__burger::before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-main);
    margin: 0 0 5px 0;
   
  }
  .header__burger::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-main);
    margin: 5px 0 0 0;
   
  }

  .header__burger_transform {
    transform: rotate(0.25turn);
  }

  .burger__menu_active {
    top: 0;
  }
  .burger__list li {
    margin: 20px;
  }
  .main__letters {
    top: 34%;
    font-size: 100px;
}
  .main__img {
    max-width: 259px;
  }

  h1 {
    font-size: 50px;
    font-weight: 700;
}
  .grid-container {
    max-width: 506px;
  }
  .facts__text {
    padding: 30px 20px 0 0;
  }
  .fatcs__subtitle {
    font-size: 17px;
  }
  .popup {
    width: 580px;
    background: var(--color-white);
  }

  .facts__letter {

    font-size: 98px;
  }
}


@media (max-width: 640px) {
  
  .main__wrapper {
    flex-direction: column-reverse;
  }

  .main__img {
    margin: 0 0 30px 0;
  }

  .main__info {
    margin: 0 0 0 0px;
  }

  .header__burger {
    top: 9%;
  }

  .education__info {
    flex-direction: column;
  }
  .education__courses {
    margin: 0 0 0 0px;
}

  .info__letters {
    bottom: 3%;
    right: 5%;
    font-size: 69px;
  }

  .facts, .main, .info {
    padding: 50px 40px;
  }
  .facts__text {
    padding: 0 0 30px 0;
  }
  .facts__line {
    display: none;
  }
  .facts__wrapper {
    flex-direction: column;
  }
  .facts__info {

  }

  .grid-container {
    width: 100%;
    grid-template-areas: 
    'one one one two two'
    'three three four four four'
    'five five five five five'
    'six six six six six'
  }

  .popup {
    max-width: 300px;
  }
  .popup__content {
    display: none;
  }
  .popup__descr {
    margin: 38px 0 0 0;
    height: 150px;
  }
  .popup__btn {
    margin: 0px 0 0 0;
    max-width: 100%;
  }

}
  
@media (max-width: 460px) {

  .header__burger {
    top: 6%;
  }

  .main__img {
    margin: 38px 0 30px 0;
  }
  .main__letters {
    top: 67%;
    right: -32%;
    font-size: 75px;
  }

  .education__wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  } 

  .facts, .main, .info {
    padding: 30px 30px;
  }
  .title, h1 {
    font-size: 40px;
  }

  .grid-container {
    height: 559px;
    grid-template-areas: 
    'one'
    'two'
    'three'
    'four'
    'five'
    'six';
  }
}

@media (max-width: 375px) {
  .title, h1 {
    font-size: 32px;
  }
  .main__text {

    padding: 20px 0 0 0;
}
  .main__letters {
    top: 75%;
    right: -24%;
    font-size: 50px;
  }
  .info__letters {

    font-size: 21px;
  }
}